{% load staticfiles %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Perris
        </title>
        <meta charset="UTF=8"/>
        <META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href="{% static 'css/csstarea.css' %}" type="text/css" rel="stylesheet"/>
            <link href="{% static 'css/flexboxgrid.css' %}" type="text/css" >
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src = "{% static 'JavaScript/funciones.js' %}"> </script>    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    </head>
    <body margin ="0%">
    
    <nav>
    <header >
        <ul class="nav">
        <div class ="row">
         <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
         <img class="logo" src="/static/img/logo.png"  height= "50" align=left , width=250>
        </div>
        <ul class="nav">
             <div class="col-xs-12 col-sm-8 col-md-6">
                 <li><a><font color="white">INICIO</font></a></li>
                 <li><a><font color="white">QUIENES SOMOS </font></a></li>
                 <li><a href="{% url 'servicios' %}"><font color="white">SERVICIOS</font>   </a></li>
                 <li><a href="{% url 'contactanos' %}"><font color="white">CONTACTENOS</font> </a></li>
             </div>
         </div>
        </ul>
    </header>
    
    <div class="container">           
         <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                       <img class="perro" src ="/static/img\Apolo.jpg"  alt="perro"  width="700" height="250"/>
                        <div class="carousel-caption">
                          <h3>APOLO</h3>
                          <p>Estamos felices de ver sonreir a apolo</p>
                </div>
                </div>
          
                <div class="item">
                        <img class="perro" src ="/static/img\Duque.jpg"  alt="perro"  width="700" height="250"/>
                        <div class="carousel-caption">
                        <h3>DUQUE</h3>
                          <p> Por esto adopta y no compres </p>
                </div>
            </div>
              
                <div class="item">
                        <img class="perro" src ="/static/img\Tom.jpg"  alt="perro"  width="700" height="250"/>
                         <div class="carousel-caption">
                                <h3>TOM</h3>
                          <p> Ellos necesitan amor y ternura, los quiero </p>
                </div>
            </div> </div>             
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
                 
			
             
          <br></br>

              
             <div class="container">
                    
                    <article class="col1">
                        
                            <div class="numero">  +569 45648464 </div>  
                           </article>       
                           <article class="col1" align="right" >
                                <div class="numeroREscate"><FONT FACE=" SMALL FONTS" SIZE=4>  Rescate &nbsp;</FONT> </div>  
                           </article>          
                           <article class="col1">
                                <div class="numero"><FONT FACE=" SMALL FONTS" SIZE=4> y adopcion de perros callejeros</FONT> </div>  
                           </article>
                           <article class="col1">
                                   

                           </article>  
                           <article class="col1">
                                        <a href="https://www.facebook.com/people/Mis-Perris/100009889513641 "> <img src="/static/img\face.png" width="45"/></a>
                                         <a href="https://www.google.cl/search?ei=YBrTW4G_JoGOwgSxiKD4Bg&q=perros&oq=perros&gs_l=psy-ab.3..0l10.2270.3176.0.3270.6.6.0.0.0.0.77.343.6.6.0....0...1.1.64.psy-ab..0.6.341...0i131k1.0.m8BBEvCmq2c "><img src="/static/img\google.png" width="45"></a>
                                         <a href="https://www.instagram.com/misperris_/"> <img src="/static/img\insta.png" width="45"></a>
                                        <a href="https://lh3.googleusercontent.com/g93RxxXYDiMN0UISH3ORDo0WVRkFPVigRa_pSJ5z9SRB0amle7D6oCzIyE10KehAk1wLd6KDKQ=w220-h140-e365">  <img src="/static/img\gmail.png" width="45"></a>
                                   
                           </article>                  
                        

             </div>
        <br></br>

    </nav>
    <br></br>

    <div class = "row principal middle-xs between-xs">
                                <article class = "col-xs-12 col-md-6 first-xs">
                                    <div class="article1">
                    <p><FONT FACE="impact" SIZE=6>RESCATE</FONT><br>
                        <FONT  SIZE=2>ETAPA UNO</FONT> <br></p>
                        <h1>______________</h1>
                        <p><FONT FACE=" SMALL FONTS" SIZE=3>Rescatamos perros en situacion de peligro y/o abandono.Los rehabilitamos y los <br>
                           preparamos para buscarle un hogar.</FONT> <br></p>
                           <img class="perrito"  src ="/static/img/rescate.png"  width="300" height="200"/>
            </div>   
         </article>

         <div class="col-xs-12 col-md-6 first-xs">
                                    <img src="/static/img/crowfunding.jpg" width="200" height="200" alt="comida"/>
                     <p>
                         <FONT FACE="impact" SIZE=6 color="black">CROWFUNDING</FONT><br>
                         <FONT SIZE=2 color="black">FINANCIAMIENTO</FONT> <br>
                     </p>

                     <h1><FONT  color="black">______________</FONT></h1>

                     <p>
                         <FONT FACE=" SMALL FONTS" SIZE=3 color="black">
                             Sigue nuestras redes sociales para informarte acerca de las diversas campañas y<br>
                             actividades que realizamos para obtener financiamiento para seguir ayudando.
                         </FONT> <br>
                     </p>
                     <p><FONT color="black" FACE="SMALL FONTS" size=3 style="border: initial; border: 3px solid rgb(0, 0, 0)">CAMPAÑAS</FONT></p>
                 </div>
             </div>
            
             </div>
    </section>
    <br></br><br></br><br></br>

    <article class ="collage">
        
                 <div class="col-xs-offset-1">
          
            <center>
             <div class="wrapper"> 
                 
                <div class="column">
                    
                            <div><img src="/static/img/rescatados/Oso_tn.jpg" width="90%"></div>
                            <div> <img src="/static/img//rescatados/Maya_tn.jpg" width="90%"></div>
                            <div><img src="/static/img//rescatados/Wifi_tn.jpg" width="83.5%"></div>
                  
                </div>
                <div class="column">
                    <div><img src="/static/img//rescatados/Chocolate_tn.jpg" width="100%"></div>
                    <div> <img src="/static/img//rescatados/Pexel_tn.jpg" width="82.5%"></div>
                  
                </div>  
                <div class="column">
                    <div><img src="/static/img//rescatados/Bigotes_tn.jpg" width="100%"></div>
                    <div> <img src="/static/img//rescatados/Luna_tn.jpg" width="100%"></div>
                </div>
            </div>
                
                </div>
        </article>
    </center>
    <br></br>
    <br></br>
</center>
    <footer>
           
             &nbsp;&nbsp; Desarrollo Web y Mobile <br>

            <br></br>
            <br></br>
    </footer>
  
</body>
</html>